.filter {
    display: none;
    margin-inline: 1rem;
    accent-color: var(--primaryColor);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem;
    background-color: var(--bgColor);
    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
    border-radius: var(--bRadius);
}

.filter-dropdown-btn-input {
    display: none;
}

.filter-dropdown-btn-input:checked~.filter {
    display: block;
    animation: .3s ease-in-out forwards filterFadeIn;
}

.filter-dropwdown-container {
    margin-block: 1rem;
    text-align: center;
}

.filter-dropdown-btn-input:checked~.filter-dropwdown-container svg {
    fill: black;
    scale: 1 -1;
    background-color: var(--primaryColor);
}

.filter-dropdown-btn {
    margin-block: 1rem;
    text-align: center;
    cursor: pointer;
}

.filter-dropdown-btn svg {
    fill: #ccc;
    transition: .3s ease-in-out;
    transition-property: scale, background-color, fill;
    max-width: 2rem;
    border: 2px solid var(--primaryColor);
    border-radius: 100%;
}

.filter-dropdown-btn:hover svg {
    fill: var(--primaryColor);
}

.form-title {
    display: block;
    margin-block-end: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.filter input[type=radio],
.filter input[type=checkbox] {
    display: none;
}

.radio-container,
.genre-container,
.reset-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: 2rem;
    margin-block-end: 2rem;
    gap: 1rem;
}

.reset-container {
    justify-content: flex-end;
}

.filter label,
.reset-btn {
    display: inline-block;
    font-size: .8rem;
    padding: .6rem;
    border: none;
    border: .15rem solid var(--primaryColor);
    border-radius: .2rem;
    width: 6rem;
    text-align: center;
    cursor: pointer;
    transition: .3s ease-in-out;
    transition-property: color, background-color;
}

.filter label:hover,
.reset-btn:hover {
    color: var(--primaryColor);
}

.filter input[type=radio]:checked+label,
.filter input[type=checkbox]:checked+label {
    background-color: var(--primaryColor);
    color: black;
}

.reset-btn {
    color: #ccc;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
}

@media screen and (min-width: 940px) {
    .filter {
        margin-inline: unset;
    }

    .radio-container,
    .genre-container,
    .reset-container {
        padding-inline: unset;
    }
}

@keyframes filterFadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}