.filter {
    accent-color: var(--primaryColor);
    text-transform: uppercase;
    font-weight: 500;
}

.form-title {
    display: block;
    margin-block-end: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.filter input[type=radio],
.filter input[type=checkbox] {
    display: none;
}

.filter .radio-container,
.filter .genre-container {
    display: flex;
    padding-inline: 2rem;
    margin-block-end: 2rem;
    column-gap: 1rem;
    justify-content: center;
}

.filter label {
    display: inline-block;
    padding: .6rem 1rem;
    border-bottom: .2em solid transparent;
    min-width: 8rem;
    background-color: var(--secundaryColor);
    text-align: center;
    cursor: pointer;
    transition: .2s ease-in-out;
    transition-property: color, border-bottom;
}

.filter label:hover,
.filter input[type=radio]:checked+label,
.filter input[type=checkbox]:checked+label {
    color: var(--primaryColor);
    border-bottom: var(--borderBottom);
}