.footer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
    background-color: var(--bgOpacity);
    text-align: center;
    text-wrap: balance;
}

.footer a {
    color: var(--primaryColor);
    text-decoration: none;
    font-weight: 500;
}

.footer p {
    margin: 0;
}