.header {
    display: grid;
    height: 2.8rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-block: .6rem;
    background-color: var(--bgOpacity);
    backdrop-filter: blur(var(--backdropBlur));
}

.header .logo {
    margin-inline-start: 1rem;
    max-width: 2.6rem;
}

.header .logo img {
    display: block;
}

.header-container {
    all: inherit;
}

.hero {}

.hero h1 {
    margin: 0;
    font-size: 4rem;
}

.hero p {
    font-size: 2rem;
}

.hero-content {
    position: relative;
    z-index: 100;
    display: grid;
    place-content: center;
    gap: 1.2rem;
    min-height: 95dvh;
    padding-inline: 2rem;
    text-align: center;
}

.hero-content::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.75);
    z-index: -10;
}

.hero-content .btn {
    justify-self: center;
    min-width: unset;
}

.hero video {
    position: absolute;
    box-shadow: 0px 0 10px 4px black;
    top: 0;
    left: 0;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    min-width: 100%;
    height: 95dvh;
    z-index: -100;
    filter: blur(4px);
}

@media screen and (min-width: 940px) {
    .header {
        display: block;
        grid: none;
        height: unset;
    }

    .header .logo {
        position: absolute;
        left: 1rem;
        padding-inline-start: unset;
    }

    .header-container {
        all: unset;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: var(--maxWidthCap);
        margin-inline: auto;
    }
}