.header {
    display: grid;
    height: 2.8rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-block: .6rem;
    background-color: var(--bgOpacity);
    backdrop-filter: blur(var(--backdropBlur));
}

.header .logo {
    padding-inline-start: .6rem;
    max-width: 2.6rem;
}

.header-container {
    all: inherit;
}

@media screen and (min-width: 940px) {
    .header {
        display: block;
        grid: none;
        height: unset;
    }

    .header .logo {
        position: relative;
        left: 0;
        padding-inline-start: unset;
    }

    .header-container {
        all: unset;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: var(--maxWidthCap);
        margin-inline: auto;
    }
}