.thumbnails,
.pagination {
    padding-left: 0;
    list-style: none;
    opacity: 0;
    animation: opacity 2s .2s forwards;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.thumbnail {
    display: flex;
    min-height: 22rem;
    opacity: 0;
    animation: opacity 1s .2s forwards;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 16rem;
    padding: 1rem;
    border-radius: var(--bRadius);
    background-color: var(--bgColor);
    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
    transition: 0.2s ease-in-out background-color;
}

.card-description {
    flex-grow: 1;
}

.card-genre {
    padding: .2rem .6rem;
    border-radius: 50rem;
    border: 2px solid var(--primaryColor);
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.card-img {
    object-fit: cover;
    transition: 0.2s ease-in-out transform;
    vertical-align: bottom;
}

.card a {
    border-radius: calc(1rem - var(--bRadius));
    display: inline-block;
    overflow: hidden;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    padding-inline: 1rem;
    gap: 1rem;
}

.pagination button {
    color: white;
    padding: 0.4rem 0.6rem;
    border: 1px solid var(--primaryColor);
    background-color: transparent;
    transition: .3s ease-in-out;
    transition-property: background-color, color;
}

.fn-pagination.active {
    cursor: pointer;
    color: black;
    font-weight: 500;
    background-color: var(--primaryColor);
}

.scroll-up-btn.active {
    position: fixed;
    bottom: 4dvh;
    right: 1rem;
    z-index: 20;
    width: 2.6rem;
    scale: 1 -1;
    background-color: var(--primaryColor);
    border-radius: 100%;
    animation: .3s ease-in-out forwards fadeIn;
}

.scroll-up-btn svg {
    display: none;
}

.scroll-up-btn.active svg {
    display: block;
}

.main-hp {
    all: unset;
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 100dvh;
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding-block: 4rem;
}

.main-hp .btn-container {
    margin-block: 4rem;
}

.main-hp h2 {
    font-size: 3.6rem;
}

.main-hp p {
    font-size: 1.2rem;
}

.feature-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    max-width: 16rem;
    padding: 1rem;
    border-radius: var(--bRadius);
    background-color: var(--bgColor);
    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
    transition: 0.2s ease-in-out background-color;
}

.main-hp .icon img {
    max-width: 8rem;
}

@media screen and (min-width: 940px) {
    main {
        margin-block-start: 8rem;
    }

    .pagination button:hover {
        color: black;
        cursor: pointer;
        background-color: var(--primaryColor);
    }

    .card img:hover {
        transform: scale(1.2);
    }

    .card:has(img:hover) {
        background-color: #222;
    }

    .thumbnails {
        gap: 2.375rem;
    }

    .scroll-up-btn {
        display: none;
    }

    .main-hp .icon img:hover,
    .main-hp .icon img {
        all: unset;
    }

    .main-hp .card:has(img:hover) {
        background-color: var(--bgColor);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}