.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

.wrapper {
    position: relative;
    margin-inline: auto;
    max-width: var(--maxWidthCap);
}

.blur {
    filter: blur(2px);
}

.game-not-found {
    padding-inline: 2rem;
    color: var(--primaryColor);
    font-size: 1.4rem;
    text-wrap: pretty;
    text-align: center;
}

@media screen and (min-width: 940px) {
    .wrapper {
        padding-inline: 2rem;
    }

    body.no-scroll {
        overflow: scroll;
    }

    main.blur,
    footer.blur {
        filter: unset;
    }
}

/* HTML: <div class="loading"></div> */
.loading.active {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: var(--primaryColor);
    animation: l2 1s infinite linear;
    margin-block: 4rem;
    margin-inline: auto;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}