:root {
    --primaryColor: lightcoral;

    --menuSize: 60px;
    --menuTiming: .6s;
    --bgOpacity: rgba(0, 0, 0, 0.7);
    --backdropBlur: 4px;
    --maxWidthCap: 940px;
}

/* General */
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-inline: auto;
    color: #ccc;
    background-color: #222;
}

h1 {
    text-align: center;
}

h3 {
    margin-block: 1.2rem;
}

main {
    margin-block-start: 6rem;
    margin-inline: auto;
}

img {
    max-width: 100%;
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 0.2rem;
}

/* Utilities */
.no-scroll {
    overflow: hidden;
}

.wrapper {
    position: relative;
    margin-inline: auto;
    max-width: var(--maxWidthCap);
}

/* Nav */
.header {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--bgOpacity);
    backdrop-filter: blur(var(--backdropBlur));
}

/* Hamburguer */
.menu {
    display: flex;
    width: var(--menuSize);
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu.opened~.nav {
    display: flex;
}

.menu.opened~.nav-background {
    scale: 80;
}

.menu.opened~.nav button {
    animation: opacity calc(var(--menuTiming) + .2s) ease-in-out forwards;
}

.nav-background {
    position: fixed;
    z-index: 4;
    width: var(--menuSize);
    height: var(--menuSize);
    top: calc(0px - var(--menuSize));
    right: calc(0px - var(--menuSize));
    border-radius: 50%;
    background-color: var(--bgOpacity);
    transition: var(--menuTiming) ease-in-out scale;
}



.line {
    fill: none;
    stroke: white;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
}

/* Nav */
.nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100dvw;
    min-height: 100dvh;
    position: fixed;
    z-index: 10;
    border-radius: 100%;
    gap: 1rem;
}

.nav button {
    min-width: 18rem;
    max-width: 80%;
    padding: 1rem 1.4rem;
    border: 1px solid var(--primaryColor);
    color: #ccc;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
}

.nav button:hover,
.nav button.active {
    color: black;
    background-color: var(--primaryColor);
    border: 1px solid transparent;
}

/* Main */
.thumbnails,
.pagination {
    padding-left: 0;
    list-style: none;
    opacity: 0;
    animation: opacity 2s .2s forwards;
}

.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.thumbnail {
    display: flex;
    min-height: 22rem;
    opacity: 0;
    animation: opacity 1s .2s forwards;
}

.card {
    display: inline-block;
    max-width: 16rem;
    padding-inline: 1rem;
    border-radius: 0.4rem;
    background-color: #333;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out background-color;
}

.card img {
    object-fit: cover;
    border-radius: 0.2rem;
    transition: 0.2s ease-in-out transform;
}

.card a {
    display: inline-block;
    overflow: hidden;
}

.card p {
    flex-grow: 1;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    padding-inline: 1rem;
    gap: 1rem;
}

.fn-pagination.active {
    cursor: pointer;
    color: black;
    background-color: var(--primaryColor);
}
.pagination button {
    color: white;
    padding: 0.4rem 0.6rem;
    border: 1px solid var(--primaryColor);
    background-color: transparent;
}

.footer {
    padding-block: 2rem;
    background-color: var(--bgOpacity);
    text-align: center;
}

.footer p {
    margin: 0;
}

/* Keyframes */
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Media Queries */
@media screen and (min-width: 768px) {

    body.no-scroll {
        overflow: scroll;
    }

    main {
        margin-block-start: 8rem;
    }

    .wrapper {
        padding-inline: 2rem;
    }

    .header {
        height: unset;
    }

    .nav-background {
        display: none;
    }

    .menu {
        display: none;
    }

    .nav {
        all: unset;
        display: flex;
        max-width: var(--maxWidthCap);
        padding-block: 1.4rem;
        padding-inline: 2rem;
        margin-inline: auto;
        gap: 4rem;
    }

    .nav button {
        min-width: unset;
        flex-grow: 1;
    }

    .pagination button:hover {
        cursor: pointer;
        background-color: var(--primaryColor);
    }

    .card img:hover {
        transform: scale(1.2);
    }

    .card:has(img:hover) {
        background-color: #222;
    }
}